<div style="margin-top: 10px">
  <hr [ngClass]="{ 'current-customer': isSelected }" />
  <div class="row">
    <div class="col-md-6">{{customer.firstName}} {{customer.lastName}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">{{customer.email}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">{{customer.phone}}</div>
    <div class="col-md-3">{{customer.state}}</div>
  </div>
  <div class="row" *ngIf="isSelected">
    <a class="btn btn-primary" routerLink="/customer-detail/{{customer.id}}">Details</a>
  </div>
  <hr [ngClass]="{ 'current-customer': isSelected }" />
</div>
